{:linters {:unresolved-symbol {:exclude [(malli.core/=>)]},
           :type-mismatch {:namespaces {day01.day01 {gas {:arities {1 {:args [:int], :ret :int}}},
                                                     gas-plus {:arities {1 {:args [:int], :ret :int}}}}}}}}
