{
 :paths ["src" "resources"]

 :deps  {
         org.clojure/clojure            {:mvn/version "1.10.1"}
         org.clojure/test.check         {:mvn/version "0.10.0"}
         cheshire                       {:mvn/version "5.10.0"}
         orchestra                      {:mvn/version "2019.02.06-1"}
         org.clojure/data.csv           {:mvn/version "0.1.4"}
         org.clojure/math.numeric-tower {:mvn/version "0.0.4"}
         net.mikera/core.matrix         {:mvn/version "0.62.0"}
         org.clojure/algo.generic       {:mvn/version "0.1.3"}
         }
 }

;From /usr/local/lib/clojure/deps.edn:

;{
;  :paths ["src"]
;
;  :deps {
;    org.clojure/clojure {:mvn/version "1.10.x"}
;  }
;
;  :aliases {
;    :deps {:extra-deps {org.clojure/tools.deps.alpha {:mvn/version "0.8.xxx"}}}
;    :test {:extra-paths ["test"]}
;  }
;
;  :mvn/repos {
;    "central" {:url "https://repo1.maven.org/maven2/"}
;    "clojars" {:url "https://repo.clojars.org/"}
;  }
;}

;From ~/.clojure/deps.edn:

;{
;  :aliases {
;    :new {
;      :extra-deps {
;        seancorfield/clj-new {:mvn/version "0.5.5"}
;      }
;      :main-opts ["-m" "clj-new.create"]
;    }
;    :k-repl {
;      :extra-deps {
;        viebel/klipse-repl {:mvn/version "0.2.3"}
;      }
;      :main-opts ["-m" "klipse-repl.main --no-easy-defs"]
;    }
;    :outdated {
;      :extra-deps {
;        olical/depot {:mvn/version "1.8.4"}
;      }
;      :main-opts ["-m" "depot.outdated.main"]
;    }
;  }
;}

;Make new:
;https://github.com/seancorfield/clj-new

;For k-repl:
;clojure -A:k-repl
;clojure -A:k-repl -Spath

;Check for outdated deps:
;clojure -A:outdated -a outdated

; In this project:

;Run tests:
;clj -A:runner
;clj -A:runner -Spath

;Run main:
;clj -A:mainer
