{:paths ["src"]
 :deps  {metosin/malli    {:mvn/version "0.19.1"}
         org.babashka/sci {:mvn/version "0.9.45"}}
 :aliases
 {:neil {:project {:name day01/day01}}}}

;; clojure -X:deps aliases
;; clojure -Tantq outdated
;; clojure -Tantq outdated :upgrade true
;; clojure -Tantq outdated :check-clojure-tools true :upgrade true
