;; clojure -X:deps aliases
;; clojure -M:project/outdated

{:paths ["src"]
 :deps  {metosin/malli    {:mvn/version "0.18.0"}
         org.babashka/sci {:mvn/version "0.9.45"}}
 :aliases
 {:neil  {:project {:name day02/day02}}}}
