{:paths   ["src"]
 :deps    {org.clojure/clojure {:mvn/version "1.12.4"}}
 :aliases {:neil               {:project {:name day02/day02}}
           :inspect/portal-cli {:extra-deps {djblue/portal {:mvn/version "0.62.2"}}}}}

;; clojure -X:deps aliases

;; - report project dependencies that have newer versions available:
;; cd project-directory && clojure -T:search/outdated
;; - update library versions in this deps.edn file:
;; cd $XDG_CONFIG_HOME/clojure && clojure -T:search/outdated
