{:paths ["src" "resources"]
 :deps {org.clojure/clojure {:mvn/version "1.12.4"}}
 :aliases
 {:run-m {:main-opts ["-m" "day02.day02"]}
  :run-x {:ns-default day02.day02
          :exec-fn greet
          :exec-args {:name "Clojure"}}
  :build {:deps {io.github.clojure/tools.build
                 {:mvn/version "0.10.11"}}
          :ns-default build}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.2"}
                      io.github.cognitect-labs/test-runner {:git/tag "v0.5.1" :git/sha "dfb30dd"}}}
  :neil {:project {:name day02/day02}}
  :inspect/portal-cli {:extra-deps {djblue/portal {:mvn/version "0.62.2"}}}}}

;; clojure -X:deps aliases

;; - report project dependencies that have newer versions available:
;; cd project-directory && clojure -T:search/outdated
;; - update library versions in this deps.edn file:
;; cd $XDG_CONFIG_HOME/clojure && clojure -T:search/outdated
