{:paths ["src"]
 :deps  {org.clojure/data.int-map {:mvn/version "1.3.1"}}
 :aliases
 {:neil {:project {:name eatobin/day05}}
  :test {:extra-paths ["test"]
         :extra-deps  {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1"
                                                             :git/sha "dfb30dd"}}
         :main-opts   ["-m" "cognitect.test-runner"]
         :exec-fn     cognitect.test-runner.api/test}}}

;; clojure -M:test

;; Best REPL:
;; On port 55555 (five fives):
;; clojure -X:repl/socket

;; Others:
;; clojure -M:repl/rebel

;; clj -M:repl/basic <- with rlwrap

;; ForRebel
;; JVM nREPL which installs a few extra middlewares. <-cannot run tests from keyboard
;; (new) Raw nREPL for non-JVM environments (babashka, etc). <- resuts to output panel
;; (new) JVM Socket REPL <- no connection

;; For clj -M:repl/basic
;; JVM nREPL which installs a few extra middlewares. <-cannot run tests from keyboard
;; (new) Raw nREPL for non-JVM environments (babashka, etc). <- resuts to output panel
;; (new) JVM Socket REPL <- no connection

;; clojure -X:deps aliases

;; - report project dependencies that have newer versions available:
;; cd project-directory && clojure -T:search/outdated
;; - update library versions in this deps.edn file:
;; cd $XDG_CONFIG_HOME/clojure && clojure -T:search/outdated
