{:paths ["src"]
 :deps  {}
 :aliases
 {:neil {:project {:name eatobin/day05}}
  :test {:extra-paths ["test"]
         :extra-deps  {io.github.cognitect-labs/test-runner {:git/tag "v0.5.1"
                                                             :git/sha "dfb30dd"}}
         :main-opts   ["-m" "cognitect.test-runner"]
         :exec-fn     cognitect.test-runner.api/test}
  :repl-server {:exec-fn clojure.core.server/start-server
                :exec-args {:name "repl-server"
                            :port 5555
                            :accept clojure.core.server/repl
                            :server-daemon false}}}}

;; clojure -M:repl/rebel

;; clojure -M::repl/basic

;; On port 5555:
;; clj -X:repl-server

;; clojure -X:deps aliases

;; - report project dependencies that have newer versions available:
;; cd project-directory && clojure -T:search/outdated
;; - update library versions in this deps.edn file:
;; cd $XDG_CONFIG_HOME/clojure && clojure -T:search/outdated
